<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Drone Jobs</title>
        <script src="{{ url_for('static', filename='elm.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    </head>
    
    <body>
      <div id="elm-app"></div>

      <script>
        var map;
        var drones = {};
        var jobs = {};

        var mainDiv = document.getElementById("elm-app")
        var app = Elm.App.embed(mainDiv);

        app.ports.mapData.subscribe(function(mapData) {
          map.setCenter(mapData);
        });

        app.ports.drones.subscribe(function(dronesData) {
          $.each(dronesData, function(index, droneData) {
            if (droneData.id in drones) {
              drones[droneData.id].setPosition(droneData.location);  
              if(droneData.status == "TakingOff") {
                jobs[droneData.currentJob.id].setOptions({strokeColor: "#2196f3"}); 
              }
              if(droneData.status == "Idle") {
                if (jobs[droneData.currentJob.id] != undefined) {
                  jobs[droneData.currentJob.id].setMap(null);
                }
              }
            } else {
              var marker = new google.maps.Marker({
                position: droneData.location,
                title: droneData.id
              });
              marker.setMap(map);
              drones[droneData.id] = marker;
            }
          });
        });

        app.ports.chargingData.subscribe(function(chargeData) {
          $.each(chargeData, function(index, chargeStation) {
            var marker = new google.maps.Marker({
              position: chargeStation.location,
              icon: "https://apkplz.com/storage/images/com/lionmobi/battery/60/power-battery-battery-saver.png",
              title: chargeStation.name
            });
            marker.setMap(map);
            var infoWindow = new google.maps.InfoWindow({
              content: "Charging Station: " + chargeStation.name
            });
            google.maps.event.addListener(marker, 'click', function() {
              infoWindow.open(map, marker);
            });
          });
        });

        function initMap() {
          whenElementWithIdExists("map", function(element) {
            map = new google.maps.Map(element, {
              center: {lat: 48.8547673498851, lng: 2.336649703},
              zoom: 13
            });
            app.ports.isReady.send(true);
            $.getJSON("/jobs", function(result) {
              app.ports.jobs.send(result.items);
              result.items.map(drawJob);
            });
          });
        }

        function drawJob(job) {
          var path = [job.start, job.end]
          var jobLine = new google.maps.Polyline({
            path: path,
            geodesic: true,
            strokeColor: '#f44336',
            strokeOpacity: 1.0,
            strokeWeight: 2
          });
          jobLine.setMap(map);
          jobs[job.id] = jobLine;
        }

        function whenElementWithIdExists(id, onCompletion) {
          var element = document.getElementById(id);
          if (element != undefined) {
            onCompletion(element);
          } else {
            setTimeout(function() {
              whenElementWithIdExists(id, onCompletion)
            }, 200);
          }
        }
      </script>
      <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMJsEpCM6-ukU5l8pOCr3gr_AwQ4MmQ9Y&callback=initMap" async defer></script>
    </body>
</html>
